.env
node_modules/
bun.lock
.DS_Store
*.log
# VSCode
.vscode/
# Mac system files
.DS_Store
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log* 
.history/
.env
db/__pycache__/
db/translations.db 
# WAL and SHM files for SQLite
db/translations.db-wal
db/translations.db-shm 

